{{!-- {{#each }} --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{{!-- <div id="modal">

</div>

<div class="modalContent">
    <h1>Boogaloo</h1>
    <p>Pt. 2</p>
</div> --}}

<body>


    {{!-- <div id="modal">

        <div id="modalContent">
            <h3 class="modalTitle">Article Saved!</h3>
                    <hr class="divider">
            <p class="modalText">Go to Saved to check out your saved articles</p>
            <button id="closeModal" class="btn btn-primary">Great</button>

        </div>


    </div> --}}


    <div id="noteModal">
        <div id="noteModalContent">
            <h3 id="notesHere" >Notes</h3>



            <h3>New Note</h3>
            <textarea name="" id="noteText" cols="30" rows="10"></textarea>
            <button id="" class="btn btn-primary btn addNoteButton">Add Note</button>


        </div>



    </div>

    {{#each articles}}


    <div class="article" data-id={{id}} data-saved={{saved}}>

        <div class="articleHeader">
            <a class="articleLinks" target="blank" href={{url}}>
                <h4 class="articleTitles">{{title}}</h4>
            </a>
            <div class="buttonsDiv">
                <button id={{id}} class="btn btn-success articleButtons notesButton">Notes</button>
            </div>

        </div>


        <hr class="divider">
        <div>{{summary}}</div>


    </div>
    {{/each}}




</body>

</html>